@mixin respectFont($mobile, $smart, $tablet, $smDisplay, $lgDisp){
    @media only screen and (min-width:0){
        font-size: $mobile;
    }
    @media only screen and (min-width:360px){
        font-size: $smart;
    }
    @media only screen and (min-width:760px){
        font-size: $tablet;
    }
    @media only screen and (min-width:960px){
        font-size:$smDisplay;
    }
    @media only screen and (min-width:1300px){
        font-size:$lgDisp;
    }
}